.blip {
    &-manage-btn {
        opacity: 1 !important;
    }

    &-add-btn.btn-reset.umb-outline {
        border-right: 1px dashed #bbbabf;

        &:hover {
            border-right-color: #2152a3;
        }
    }
}

.blip-overlay {
    .blip-block--checkbox {
        position:absolute;
        top:5px;
        left:5px;
        z-index:1;

        &::before {
            content:'';
        }

        &.umb-checkmark--checked::before {
            content:'\e165';
        }
    }
}