<div ng-controller="Blip.Editor.Controller as vm">
    <ng-form name="blipForm">
        <div ui-sortable="vm.sortOptions" ng-model="sortableModel">
            <umb-node-preview ng-repeat="block in vm.renderModel track by $index"
                              name="block._label"
                              icon="block._iconRaw"
                              sortable="true"
                              allow-remove="true"
                              allow-edit="false"
                              on-remove="vm.removeBlock($index)">
            </umb-node-preview>
        </div>

        <button ng-show="vm.multiPicker && vm.renderModel.length < vm.maxNumberOfItems || !vm.renderModel.length || !vm.maxNumberOfItems"
                type="button"
                class="umb-node-preview-add"
                ng-click="vm.addBlock()">
            <localize key="general_add">Add</localize>
        </button>

        <!-- validation messages -->
        <div class="umb-contentpicker__min-max-help"
             ng-if="vm.multiPicker && (vm.maxNumberOfItems > 1 || vm.minNumberOfItems > 0) && (vm.renderModel.length !== 0 || (model.validation && model.validation.mandatory))">

            <!-- Both min and max items -->
            <span ng-if="vm.minNumberOfItems !== vm.maxNumberOfItems">
                <span ng-if="vm.renderModel.length < vm.maxNumberOfItems">Add between {{vm.minNumberOfItems}} and {{vm.maxNumberOfItems}} items</span>
                <span ng-if="vm.renderModel.length > vm.maxNumberOfItems">
                    <localize key="validation_maxCount">You can only have</localize> {{vm.maxNumberOfItems}} <localize key="validation_itemsSelected"> items selected</localize>
                </span>
            </span>

            <!-- Equal min and max -->
            <span ng-if="vm.minNumberOfItems === vm.maxNumberOfItems">
                <span ng-if="vm.renderModel.length < vm.maxNumberOfItems">Add {{vm.minNumberOfItems - vm.renderModel.length}} item(s)</span>
                <span ng-if="vm.renderModel.length > vm.maxNumberOfItems">
                    <localize key="validation_maxCount">You can only have</localize> {{vm.maxNumberOfItems}} <localize key="validation_itemsSelected"> items selected</localize>
                </span>
            </span>

            <!-- Only max -->
            <span ng-if="!vm.minNumberOfItems && vm.maxNumberOfItems">
                <span ng-if="vm.renderModel.length < vm.maxNumberOfItems">Add up to {{vm.maxNumberOfItems}} items</span>
                <span ng-if="vm.renderModel.length > vm.maxNumberOfItems">
                    <localize key="validation_maxCount">You can only have</localize> {{vm.maxNumberOfItems}} <localize key="validation_itemsSelected">items selected</localize>
                </span>
            </span>

            <!-- Only min -->
            <span ng-if="vm.minNumberOfItems && !vm.maxNumberOfItems && vm.renderModel.length < vm.minNumberOfItems">
                Add at least {{vm.minNumberOfItems}} item(s)
            </span>

        </div>

        <input type="hidden" name="modelValue" ng-model="model.value" />

        <!--These are here because we need ng-form fields to validate against-->
        <input type="hidden" name="minCount" ng-model="vm.renderModel" />
        <input type="hidden" name="maxCount" ng-model="vm.renderModel" />

        <div ng-messages="contentPickerForm.minCount.$error" show-validation-on-submit>
            <div class="help-inline" ng-message="minCount">
                <localize key="validation_minCount">You need to add at least</localize> {{vm.minNumberOfItems}} <localize key="validation_items">items</localize>
            </div>
        </div>
        <div ng-messages="contentPickerForm.maxCount.$error" show-validation-on-submit>
            <div class="help-inline" ng-message="maxCount">
                <localize key="validation_maxCount">You can only have</localize> {{vm.maxNumberOfItems}} <localize key="validation_itemsSelected">items selected</localize>
            </div>
        </div>
    </ng-form>
</div>