<div ng-controller="Blip.Editor.Controller as vm" class="blip umb-block-list__wrapper">
    <ng-form name="blipForm">

        <div ui-sortable="vm.sortOptions" ng-model="vm.renderModel">
            <div ng-repeat="block in vm.renderModel track by block.udi">

                <!--<umb-node-preview ng-if="!block._view"
                                  name="block._label"
                                  icon="block._iconRaw"
                                  sortable="true"
                                  allow-remove="true"
                                  allow-edit="false"
                                  on-remove="vm.removeBlock(block.udi)">
                </umb-node-preview>-->
                <div class="umb-block-list__block">
                    <blip-block block="{ data: block }" view="{{ block._view }}" stylesheet="{{ block._stylesheet }}" ng-if="block._view">
                    </blip-block>

                    <div ng-if="!block._view" class="umb-block-list__block">
                        <div class="umb-block-list__block--content">
                            <div class="umb-block-list__block--view">
                                <div class="blockelement-labelblock-editor">
                                    <umb-icon icon="{{ block._iconRaw}}" class="icon"></umb-icon>
                                    <span>{{ block._label }}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="umb-block-list__block--actions">
                        <button type="button" class="btn-reset umb-outline action --delete" localize="title" title="actions_delete"
                                ng-click="vm.removeBlock(block.udi)">
                            <umb-icon icon="icon-trash" class="icon"></umb-icon>
                            <span class="sr-only">
                                <localize key="general_delete">Delete</localize>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="umb-block-list__actions" ng-if="vm.loading !== true">
            <button id="{{ vm.model.alias }}"
                    type="button"
                    class="btn-reset umb-block-list__create-button umb-outline blip-add-btn"
                    ng-click="vm.addBlock()">
                <localize ng-if="vm.types.length !== 1" key="blockEditor_addBlock">Add content</localize>
                <localize ng-if="vm.types.length === 1" key="blockEditor_addThis" tokens="[vm.types[0].contentTypeName]">Add content</localize>
            </button>

            <button type="button"
                    ng-if="vm.userCanAddBlock"
                    class="btn-reset umb-block-list__clipboard-button umb-outline blip-manage-btn"
                    ng-click="vm.createBlock()">
                <umb-icon icon="icon-edit" class="icon"></umb-icon>
                <span class="sr-only">
                    <localize key="blip_manageBlocks">Manage blocks</localize>
                </span>
            </button>

        </div>

        <!-- validation messages -->
        <div class="umb-contentpicker__min-max-help"
             ng-if="vm.multiPicker && (vm.maxNumberOfItems > 1 || vm.minNumberOfItems > 0) && (vm.renderModel.length !== 0 || (model.validation && model.validation.mandatory))">

            <!-- Both min and max items -->
            <span ng-if="vm.minNumberOfItems !== vm.maxNumberOfItems">
                <span ng-if="vm.renderModel.length < vm.maxNumberOfItems">Add between {{vm.minNumberOfItems}} and {{vm.maxNumberOfItems}} items</span>
                <span ng-if="vm.renderModel.length > vm.maxNumberOfItems">
                    <localize key="validation_maxCount">You can only have</localize> {{vm.maxNumberOfItems}} <localize key="validation_itemsSelected"> items selected</localize>
                </span>
            </span>

            <!-- Equal min and max -->
            <span ng-if="vm.minNumberOfItems === vm.maxNumberOfItems">
                <span ng-if="vm.renderModel.length < vm.maxNumberOfItems">Add {{vm.minNumberOfItems - vm.renderModel.length}} item(s)</span>
                <span ng-if="vm.renderModel.length > vm.maxNumberOfItems">
                    <localize key="validation_maxCount">You can only have</localize> {{vm.maxNumberOfItems}} <localize key="validation_itemsSelected"> items selected</localize>
                </span>
            </span>

            <!-- Only max -->
            <span ng-if="!vm.minNumberOfItems && vm.maxNumberOfItems">
                <span ng-if="vm.renderModel.length < vm.maxNumberOfItems">Add up to {{vm.maxNumberOfItems}} items</span>
                <span ng-if="vm.renderModel.length > vm.maxNumberOfItems">
                    <localize key="validation_maxCount">You can only have</localize> {{vm.maxNumberOfItems}} <localize key="validation_itemsSelected">items selected</localize>
                </span>
            </span>

            <!-- Only min -->
            <span ng-if="vm.minNumberOfItems && !vm.maxNumberOfItems && vm.renderModel.length < vm.minNumberOfItems">
                Add at least {{vm.minNumberOfItems}} item(s)
            </span>

        </div>

        <input type="hidden" name="modelValue" ng-model="model.value" />

        <!--These are here because we need ng-form fields to validate against-->
        <input type="hidden" name="minCount" ng-model="vm.renderModel" />
        <input type="hidden" name="maxCount" ng-model="vm.renderModel" />

        <div ng-messages="contentPickerForm.minCount.$error" show-validation-on-submit>
            <div class="help-inline" ng-message="minCount">
                <localize key="validation_minCount">You need to add at least</localize> {{vm.minNumberOfItems}} <localize key="validation_items">items</localize>
            </div>
        </div>
        <div ng-messages="contentPickerForm.maxCount.$error" show-validation-on-submit>
            <div class="help-inline" ng-message="maxCount">
                <localize key="validation_maxCount">You can only have</localize> {{vm.maxNumberOfItems}} <localize key="validation_itemsSelected">items selected</localize>
            </div>
        </div>
    </ng-form>
</div>